[

%%% Static part (common for all environments)

{sasl, [
    {sasl_error_logger, {file, "{{log_dir}}/sasl-error.log"}},
    {errlog_type, error}
]},

{lager, [
    {log_root, "{{log_dir}}"},
    {crash_log, "crash.log"},
    {colored, true},
    {handlers, [
        {lager_console_backend, {{console_log_level}} },
        {lager_file_backend, [{file, "console.log"}, {level, {{console_log_level}} }]},
        {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
]},

%%% Dynamic part (differs from one environment to another)
"{{config_dir}}/app.config"

].
