{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {lager_truncation_size, 4096}
]}.

{deps, [
    lager,
    poolboy
]}.

{relx, [
    {release, {'{{name}}', "0.1.0"}, [
        '{{name}}',
        sasl
    ]},

    {dev_mode, true},
    {include_erts, false},
    {generate_start_script, false},

    {overlay_vars, "./config/vars-dev.config"},
    {overlay, [
        {template, "config/vm.args",       "releases/\{\{release_version\}\}/vm.args"},
        {template, "config/sys.config",    "releases/\{\{release_version\}\}/sys.config"},
        {template, "config/vm.args",       "etc/vm.args"},
        {template, "config/app.config",    "etc/app.config"},
        {template, "files/start",          "bin/\{\{release_name\}\}"},
        {template, "files/nodetool",       "bin/nodetool"},
        {template, "files/service.redhat", "bin/service.redhat"},
        {template, "files/rpm-hooks/pre-install",    "rpm-hooks/pre-install"},
        {template, "files/rpm-hooks/pre-uninstall",  "rpm-hooks/pre-uninstall"},
        {template, "files/rpm-hooks/post-install",   "rpm-hooks/post-install"},
        {template, "files/rpm-hooks/post-uninstall", "rpm-hooks/post-uninstall"}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {overlay_vars, "./config/vars.config"}
        ]}
    ]}
]}.

{plugins, [
    rebar3_run,
    rebar3_auto,
    rebar_alias
]}.

{alias, [
    {check, [eunit, ct]}
]}.
